@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewBag.Message_2</h3>
<h3>В списке @(((List<string>)ViewBag.Countries).Count) элемента:</h3>

@foreach (string country in ViewBag.Countries)
{
    <p>@country</p>
}

<h2>@TempData["Message"]</h2>
<p>Use this area to provide additional information.</p>
