@using HelloApp.Models
@model IEnumerable<Phone>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Home Page</title>
</head>
<body>

    <h2>Передача сложных данных через форму.</h2>
    <p>Различия видны в коде.</p>

    <h3>Вариант №1:</h3>
    @using (@Html.BeginForm("GetPhone", "Home"))
    {
        <p>
            <label>Модель</label><br />
            <input type="text" name="myPhone.Name" />
        </p>
        <p>
            <label>Цена</label><br />
            <input type="number" name="myPhone.Price" />
        </p>
        <p>
            <label>Производитель</label><br />
            <input type="text" name="myPhone.Manufacturer.Name" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }

    <h3>Вариант №2:</h3>
    @using (@Html.BeginForm("GetPhone", "Home"))
    {
        <p>
            <label>Модель</label><br />
            <input type="text" name="Name" />
        </p>
        <p>
            <label>Цена</label><br />
            <input type="number" name="Price" />
        </p>
        <p>
            <label>Производитель</label><br />
            <input type="text" name="Manufacturer.Name" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }

    <h2>Передача массивов и списков сложных объектов.</h2>
    <p>Различия видны в коде.</p>

    <h3>Вариант №1:</h3>
    @using (@Html.BeginForm("GetPhones", "Home"))
    {
        @for (int i = 0; i < 2; i++)
        {
            <div>
                <h3>Модель № @(i + 1)</h3>
                <p>
                    <label>Название</label><br />
                    <input type="text" name="phones[@i].Name" />
                </p>
                <p>
                    <label>Цена</label><br />
                    <input type="number" name="phones[@i].Price" />
                </p>
                <p>
                    <label>Производитель</label><br />
                    <input type="text" name="phones[@i].Manufacturer.Name" />
                </p>
            </div>
        }
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }

    <h3>Вариант №2:</h3>
    @using (@Html.BeginForm("GetPhones", "Home"))
    {
        @for (int i = 0; i < 2; i++)
        {
            <div>
                <h3>Модель № @(i + 1)</h3>
                <p>
                    <label>Название</label><br />
                    <input type="text" name="[@i].Name" />
                </p>
                <p>
                    <label>Цена</label><br />
                    <input type="number" name="[@i].Price" />
                </p>
                <p>
                    <label>Производитель</label><br />
                    <input type="text" name="[@i].Manufacturer.Name" />
                </p>
            </div>
        }
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }
</body>
</html>
