@using HelloApp.Models
@model IEnumerable<Phone>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Home Page</title>
</head>
<body>
    <table>
        @foreach (Phone p in Model)
        {
            <tr>
                <td>@p.Name</td>
                <td>@p.Manufacturer?.Name</td>
                <td>@p.Price</td>
            </tr>
        }
    </table>

    <h2>Передача сложных данных через форму.(различия видны в коде)</h2>
    <h3>Вариант №1:</h3>
    @using (@Html.BeginForm("GetPhone", "Home"))
    {
        <p>
            <label>Модель</label><br />
            <input type="text" name="myPhone.Name" />
        </p>
        <p>
            <label>Цена</label><br />
            <input type="number" name="myPhone.Price" />
        </p>
        <p>
            <label>Производитель</label><br />
            <input type="text" name="myPhone.Manufacturer.Name" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }

    <h3>Вариант №2:</h3>
    @using (@Html.BeginForm("GetPhone", "Home"))
    {
        <p>
            <label>Модель</label><br />
            <input type="text" name="Name" />
        </p>
        <p>
            <label>Цена</label><br />
            <input type="number" name="Price" />
        </p>
        <p>
            <label>Производитель</label><br />
            <input type="text" name="Manufacturer.Name" />
        </p>
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }
</body>
</html>
